*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

header{
    justify-items: auto;
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px 0;
}

@media screen and (min-width: 768px){ 
    #index{
        padding: 200px;
        border-radius: 7px;
        cursor: pointer;
        border: 1px dashed #ccc;
        background-color: #000;
        margin-bottom: 3px;
    }
}

#index{
    padding: 200px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed #ccc;
    background-color: #000;
    margin-bottom: 3px;
}

.comienza{
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #fdfdfd;
    background-color: #c445b9;

}

.container{
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

section{
    border: 2px solid #5624d0;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;
}

/* input{
    display: none;
} */

label{
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed #ccc;
    margin-bottom: 3px;
}

label:hover{
    background: #cec0fc;

}

input[type=submit]{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;

    background-color: #76d7c8;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

input[type=submit]:hover{
    background: #000;
    color: #fff;

}

h2{
   text-align: center; 
}

#aciertos{
    font-size: 30px;
    color: darkred;
}